*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}


html,body{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #d4d4d4;
}

